<div class="container padding-bottom-3x mb-2 mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <div class="forgot">

                <h2>Forgot your password?</h2>
                <p>Change your password in below easy steps. This will help you to secure your password!</p>
                <ol class="list-unstyled">
                    <li><span class="text-primary text-medium">1. </span>Enter your email address below.</li>
                    <li><span class="text-primary text-medium">2. </span>Enter your login id</li>
                    <li><span class="text-primary text-medium">3. </span>Enter new password</li>
                    <li><span class="text-primary text-medium">4. </span>Password will be reset and you will be redirected to login page</li>
                </ol>

            </div>

            <form class="card mt-4" [formGroup]="forgetPasswordForm">
                <div class="card-body">
                    <div class="form-group">
                        <label for="email-for-pass">Enter your email address</label>
                        <input class="form-control" id="email-for-pass"type="text" formControlName="email">
                        <div class="error-message" *ngIf="forgetPasswordForm.controls['email'].touched && forgetPasswordForm.controls['email'].errors?.['required']">*Email id is Required</div>
                        <div class="error-message" *ngIf="forgetPasswordForm.controls['email'].dirty && forgetPasswordForm.controls['email'].errors?.['pattern']">*Email format is not correct</div>
                        
                        <label for="login-for-pass">Enter your Login id/username</label>
                        <input class="form-control" id="login-for-pass" type="text" formControlName="loginId">
                        <div class="error-message" *ngIf="forgetPasswordForm.controls['loginId'].touched && forgetPasswordForm.controls['loginId'].errors?.['required']">*LoginId/Username is Required</div>

                        <label for="password-for-pass">Enter your new password</label>
                        <input class="form-control" id="password-for-pass" type="password" formControlName="password">
                        <div class="error-message" *ngIf="forgetPasswordForm.controls['password'].touched && forgetPasswordForm.controls['password'].errors?.['required']">*Password is Required</div>


                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-success" (click)="submitRequest()" type="button">Reset password</button> &nbsp;
                    <button class="btn btn-danger" (click)="redirectToLogin()" type="button">Back to Login</button>
                </div>
            </form>
        </div>
    </div>
</div>